/* Style for the main container */
.curriculum-container {
  background-color: #e7f5f5;
  padding: 2px;
}
.course-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for the course title */
.course-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style for each part of the course */
.course-part {
  margin-bottom: 5px;
}

/* Style for the total exercises */
.total-exercises {
  margin-top: 10px;
  font-size: 18px;
}

/* Style for the curriculum title */
.curriculum-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;

}
